<p-card [style]="{'width': '75%', 'margin-bottom': '10%','height': '50%','margin-left': '10%', 'backgroundColor': '#FEBF7E'}">
    <p-toast></p-toast>
    <ng-template pTemplate="header">
        <span> <h2  style="color: white; text-align: center"  >Recommend a teacher to EngglishDom
           </h2></span>
        <span> <h2   style="color: white; text-align: center"  > and get a money reward !
           </h2></span>
        <div class="p-grid p-fluid" style="margin-top: 3%">
            <div class="p-field p-col-12 p-md-4">
                <img  style="height: 60% ; width: 60% ;
                 margin-left: 20% ; border-radius: 60%" alt="roma-layout" src="../../../../assets/images/sent.png">
                <p style="margin-left: 20% ; margin-top: 3% ">Step 1</p>
                <h4 style="margin-left: 20%  ; color: white">Recommend a teacher</h4>
            </div>
            <div class="horizontal_dotted_line"  ></div>
            <div class="p-field p-col-12 p-md-4">
                <img  style="height: 60% ; width: 60%  ; margin-left: 20% ; border-radius: 60%" alt="roma-layout"
                      src="../../../../assets/images/Recommendation.png"><p  style="margin-left: 20% ; margin-top: 3%">Step 2</p>
                <h4 style="margin-left: 20%  ; color: white">A teacher completes a probationary period</h4>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <img  style="height:65%; width:60%  ;margin-left: 20% ; border-radius: 60%" alt="roma-layout"
                      src="../../../../assets/images/reward.png"> <p  style=" margin-left: 20% ;">Step 3</p>
                <h4 style=" color: white; margin-left: 20% ;">Get your reward</h4>
            </div>

        </div>


    </ng-template>

    <h4  style="color: white; text-align: center">RECOMMEND A TEACHER</h4>
    <div class="p-grid p-fluid">

        <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
    <input [(ngModel)]="selected.nom" id="firstname6" placeholder="last name" pInputText type="text">

</span>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <input [(ngModel)]="selected.telephone" id="integeronly" placeholder="phone number" pInputText type="text">
        </div>

        <div class="p-field p-col-12 p-md-4" >
            <button (click)="save()" class="p-button-help" label="Send Teachers Contact" pButton pRipple
                    style="background-color: #FF7F00" type="button"></button>


        </div>


    </div>


</p-card>
