*{
    margin: 5px;
}

.btn_center
{
    width: 100%;
    margin: auto;
}

.p-mr-2
{
    width: 30%;
}

.kyc
{
    margin-left: 217px;
}

.p-fluid
{
    margin-left: 217px;
}

.label_1
{
    font-weight: bold;
}

.p-field
{
    // padding: 0;
}

.trNotif
{
    margin-top: 12px;
}