<div class="layout-topbar">

    <a class="layout-topbar-logo" href="#">
        <span id="topbar-logo" style="color: white; font-family: 'Lucida Bright'"><h1>Bank Of Africa</h1></span>
    </a>


    <ul class="topbar-menu">
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a [routerLink]="['/public/login-admin']" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Admin</h4></b></span>
                </div>
            </a>
        </li>
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a [routerLink]="['/public/login-agent']" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Agent</h4></b></span>
                </div>
            </a>
        </li>

    </ul>
</div>

